html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#data,
#info {
  position: fixed;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: black;
}

#info {
  left: 0;
  overflow-y: auto;
}

#info::-webkit-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 5px;
}

#info::-webkit-scrollbar-track {
  background: #000;
}

#info::-webkit-scrollbar-thumb {
  background-color: #696969;
  border: 1px solid #fff;
}

.lifes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
span {
  text-align: center;
  color: white;
}

h1 {
  font-size: 10vh;
}

h3,
h4 {
  margin: 0;
}

h3 {
  margin-top: 5vh;
  margin-bottom: 10px;
}

span {
  margin-right: 10px;
  text-transform: capitalize;
}

#lifes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

img {
  width: 30px;
  height: 30px;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.popup_opened {
  opacity: 1 !important;
  visibility: visible !important;
}

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}
